# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true
roslynator_analyzers.enabled_by_default = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
